html{
	font-size: 16px;
	height: 100%;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.313em;
    
}

/*The widths are in a percentage!*/
header {
	height: 110px;
	border-bottom: 0.188em solid #77a466;
	
}

header h1 {
	
	
}
header h1 span {
	color: #77a466;
}

header nav {
	
	
}
header nav ul {
	
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	
	
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	
	
}

.main-image {
	height: auto;
	
}
.main-image img {
	width: 100%;
	border-bottom: 0.188em solid #77a466;
}

.main-title {
	height: auto;
	
}
.main-title h2 {
	

	color: #77a466;
}
.main-title p {
	
	font-size: 1em;
	line-height: 1.563em;
}

.section-one,
.section-two,
.section-three {
	width: 33%;
	height: auto;
	border-top: 0.063em solid #eee;
}

.section-one h3 {
	
}

.section-two {
	border-left: 0.063em solid #eee;
	border-right: 0.063em solid #eee;
}

.section-two h3,
.section-three h3 {
	
}

.menu {
	list-style: none;
	
}
.menu li {
	
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.313em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 0.188em solid #eee;
	
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}
